/* CampaignCard.css */
.card {
    position: relative;

    background-color: #FFF8DC;
    /* Cornsilk */
    border: 1px solid #8B0000;
    /* Dark Red */
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 60px !important;
}

.card :hover {
    cursor: pointer;
}

h2 {
    font-family: 'Cinzel', serif;
    color: #8B0000;
    /* Dark Red */
    margin-bottom: 10px;
}

.campaign-info {
    font-family: 'Cinzel', serif;
    color: #8B0000;
    /* Dark Red */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.campaign-description {
    color: gray;
    font-size: small;
    font-family: 'Merriweather', serif;
}

.campaign-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 248, 220, 0.9);
    /* Cornsilk with transparency */
    border-top: 1px solid #8B0000;
    /* Dark Red */
    border-radius: 0 0 8px 8px;
    width: 95%;
}

.campaign-detail {
    display: flex;
    align-items: center;
    font-family: 'Cinzel', serif;
    color: #000000;
    /* Black */
}

.campaign-detail svg {
    margin-right: 5px;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-left: -30px;
    /* Adjust as needed */
}

.icon-container>* {
    transform: scale(1.2);
    margin: 0 10px;
    /* Adjust spacing between icons as needed */
    cursor: pointer;
}

.icon-container>*:hover {
    transform: scale(1.5);
    color: #8B0000;
    /* Dark Red - Change color on hover if desired */
}